.hero{    
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 198px;
    background-color: var(--h1ero-footer-color);
    text-align: center;
}
.overlay{
    background-color: var(--hero-background-color);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and(max-width:767px) {

    .overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile-bg-hero.jpg);
            
        }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(/images/mobile-bg-hero@2x.jpg);
        }
    }
}
@media screen and (min-width:768px) {
    .overlay {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet-bg-hero.jpg);

}

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(/images/tablet-bg-hero@2x.jpg);
    }
}
}
@media screen and (min-width: 1200px) {
    .hero{
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 280px;
    }
    .overlay{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/desktop-bg-hero.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(/images/desktop-bg-hero@2x.jpg);
        }
    }
    
}